body {
    font-family: 'Oswald', sans-serif;
    background: #333333;
    color: white;
    line-height: 1.75;
    letter-spacing: 0.1px;
    font-weight: 300;
}
#title-perfect {
    position: absolute;
    z-index: 1;
    left: 150px;
    top: 150px;
    font-size: 100px;
}
#title-fifth {
    color: #ff7a7a;
    position: absolute;
    z-index: 1;
    left: 150px;
    top: 260px;
    font-size: 100px;
}
#jumbotron-picture {
    background: url("pictures/banners/home-banner.jpg");
    width: 960px;
    height: 562px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid gray;
}
#jumbotron-overlay {
    opacity: 0.5;
    width: 960px;
    height: 562px;
    margin-right: auto;
    margin-left: auto;
}
#navbar {
    width: 100%;
    background: black;
    text-align: center;
    display: inline-block;
    word-spacing: 30px;
    font-size: 16px;
    padding: 5px;
}

.container {
    padding: 20px;
    border: dotted #ff7a7a;
    margin: 20px;
}
#about-picture {
    background: url("pictures/banners/Fall2014.jpg");
    width: 800px;
    height: 438px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid gray;
}

h1 {
    width: 100%;
    text-align: center;
}
b {
    font-weight: 400;
    transition: 0.5s;
}
b:hover {
    opacity: 0.5;
    transition: 0.5s;
}
a {
    color: #ff7a7a;
    text-decoration: none;
    transition: 0.7s;
}
a:hover {
    transition: 0.7s;
    color: white;
}
img {
    border: 1px solid gray;
}
footer {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    color: #ff7a7a;
    background: black;
    padding: 20px;
}