#navbar {
    width: 100%;
    background: black;
    text-align: center;
    display: inline-block;
    word-spacing: 40px;
    font-size: 16px;
    padding: 5px;
}
#title-perfect {
    position: absolute;
    z-index: 1;
    left: 300px;
    top: 150px;
    font-size: 100px;
}
#title-fifth {
    color: #ff7a7a;
    position: absolute;
    z-index: 1;
    left: 300px;
    top: 260px;
    font-size: 100px;
}
#jumbotron-picture {
    background: url("pictures/banners/home-banner.jpg");
    width: 960px;
    height: 562px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid gray;
}
#jumbotron-overlay {
    opacity: 0.5;
    width: 960px;
    height: 562px;
    margin-right: auto;
    margin-left: auto;
}
#about-picture {
    background: url("pictures/banners/Fall2014.jpg");
    width: 800px;
    height: 438px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid gray;
}
#fb-icon {
    position: fixed;
}
#fb-icon:hover {
    background-color: #ff7a7a;
}

.container {
    padding: 50px;
    border: dotted #ff7a7a;
    margin: 20px;
}
.container-members {
    padding: 30px;
    border: dotted #ff7a7a;
    margin: 20px;
}
.container-media {
    padding: 70px;
    padding-top: 5px;
    border: dotted #ff7a7a;
    margin: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.container-heading {
    padding: 50px;
    border: dotted white;
    margin: 20px;
}
.container-members-heading {
    padding: 30px;
    border: dotted white;
    margin: 20px;
}

#lasciameti-morire {
  position: relative;
  background: #FFF;
  padding: 20px;
  width:auto;
  max-width: 500px;
  margin: 20px auto;
}
    /*audio src="assets/music/Monteverdi Lasciatemi.mp3" controls="controls"></audio>*/

body {
    font-family: 'Oswald', sans-serif;
    background: #333333;
    color: white;
    line-height: 1.75;
    letter-spacing: 0.1px;
    font-weight: 300;
}
h1 {
    width: 100%;
    text-align: center;
}
h2 {
    color: #ff7a7a;
}
h3 {
    text-align: center;
    margin-right: 10px;
}
b {
    font-weight: 400;
    transition: 0.5s;
}
b:hover {
    opacity: 0.5;
    transition: 0.5s;
}
i {
    transition: 0.5s;
}
i:hover {
    opacity: 0.5;
    transition: 0.5s;
}
a {
    color: #ff7a7a;
    text-decoration: none;
    transition: 0.7s;
}
a:hover {
    transition: 0.7s;
    color: white;
}
img {
    border: 1px solid gray;
}
iframe {
    border: 1px solid gray;
    margin-bottom: 30px;
}
footer {
    margin-top: 100px;
    width: 100%;
    text-align: center;
    color: #ff7a7a;
    background: black;
    padding: 20px;
}

@media screen and (max-width: 970px) {
    #title-perfect {
        left: 80px;
        top: 150px;
    }
    #title-fifth {
        color: #ff7a7a;
        position: absolute;
        z-index: 1;
        left: 80px;
        top: 260px;
        font-size: 100px;
    }
    .container-members {
        padding: 50px;
        border: dotted #ff7a7a;
        margin: 20px;
        width: 900px;
    }
    .container-members-heading {
        padding: 50px;
        border: dotted white;
        margin: 20px;
        width: 900px;
    }
}